<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.test.assignment.UITestCase.LoginTest"/>
      <class name="com.test.assignment.UITestCase.CheckoutTest"/>
      <class name="com.test.assignment.UITestCase.SignInTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
